<form>
    <div class="row">
      <div class="column"> 
        <label>Banner:</label><br>
        <label>Poster:</label><br>
        <label>Datum:</label><br>
        <label>Facebook link:</label><br>
      </div>
      <div class="column">
        <input type="text" name="banner" #banner><br>
        <input type="text" name="poster" #poster><br>
        <input type="text" name="datum" #datum><br>
        <input type="text" name="facebooklink" #facebooklink><br>
      </div>
    </div>
    <button (click)="VoegNieuwEventToe(banner.value,poster.value,datum.value,facebooklink.value)">Voeg toe!</button>
  </form>
