<form>
    <div class="row">
      <div class="column"> 
        <label>Bedrijf id:</label><br>
        <label>Naam:</label><br>
        <label>Beschrijving:</label><br>
        <label>Link:</label><br>
      </div>
      <div class="column">
        <input type="text" name="bedrijfid" #bedrijfid><br>
        <input type="text" name="naam" #naam><br>
        <input type="text" name="beschrijving" #beschrijving><br>
        <input type="text" name="link" #link><br>
      </div>
    </div>
    <button (click)="VoegNieuweVacatureToe(bedrijfid.value,naam.value,beschrijving.value,link.value)">Voeg toe!</button>
  </form>
