<input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'Create'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Create</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'Read'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Read</span>
    </div>
<br>

<div [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>


    </pre>
    <pre *ngSwitchCase="'Create'" id="PRAESIDIUMINFO"> 
        <form [formGroup]="this.DataserviceService.HomeForm" id="PRAESIDIUMINFO">
           <input placeholder="fbLink" 
           formControlName="fbLink" 
           type="text" 
           class="input-field col s12">

           <input type="file"
            id="file"
            #userPhoto
            (change)="onFileSelected($event)"
            name="image"
            autocomplete="off"/>


           <input placeholder="date" 
           formControlName="date" 
           type="date" 
           class="input-field col s12">

           

                <button (click)="CREATE()">SUBMIT</button>
        </form>
    </pre>
    <pre *ngSwitchCase="'Read'" class="terminal">
        <span *ngFor="let P of HOME" class="TEXT">
        <div class="TEXT">
        <h3>{{ P.payload.doc.id }}</h3>
        <br>
        fbLink : {{ P.payload.doc.data().fbLink }}
        <br>
        date : {{ P.payload.doc.data().date }}
        <br>
        imagelink : {{ P.payload.doc.data().imageLink }}
        </div>
        <br>
        <button (click)="DELETE(P.payload.doc.id)">DELETE</button>
       
      </span>
    </pre>

</div>