<app-nav-bar></app-nav-bar>

<div class="content full-width" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card">
    <svg id="schild" alt="Technica Schild" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
      viewBox="0 0 101.678 101.678">
      <g transform="translate(-141 -696)">
        <circle cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
          fill="#999999" />
      </g>
      <image href="assets/images/schild.png" width="101.678" height="101.678" />
    </svg>

    <span id="title">{{ title }}</span>
  </div>
  <router-outlet></router-outlet>
</div>
