<app-nav-bar></app-nav-bar>

<div class="content" role="main">
  <!-- Next Steps -->

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'Praesidium'" tabindex="0">
        

      <span>Praesidium</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'Vacatures'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Vacatures</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'ClubText'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>ClubText</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'Home'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Home</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'Sponsors'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Sponsors</span>
    </div>
  </div>

  
  <div [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>
        Maak een keuze

      </pre>
      <pre *ngSwitchCase="'Praesidium'">
        Praesidium
        <app-praesidium></app-praesidium>
      </pre>
      <pre *ngSwitchCase="'Home'">
        Home
        <app-home></app-home>
      </pre>
      <pre *ngSwitchCase="'Sponsors'">
        Sponsors
        <app-sponsors></app-sponsors>
      </pre>
      <pre *ngSwitchCase="'ClubText'">
        ClubText
        <app-club-tekst></app-club-tekst>
      </pre>
      <pre *ngSwitchCase="'Vacatures'">
        Vacatures
        <app-vacatures></app-vacatures>

      </pre>
  </div>

  <router-outlet></router-outlet>