<!--
<div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" *ngIf="!LoggedIn()" (click)="login()">Login</a></li>
    <li><a href="#" *ngIf="LoggedIn()" (click)="logout()">Logout</a></li>
  </ul>
</div>
 --> 


<!--
<div>
  <form [formGroup]="formGroup" (ngSubmit)="LoginProces()">
    <input placeholder="Username" formControlName="email">
    <input placeholder="Password" formControlName="password">
    <button type="submit">Login</button>
  </form>
</div>
-->

<app-navbar></app-navbar>


<div *ngIf="JuisteGegevens=='true'">
<h1>Technica App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/praesidium" routerLinkActive="active">Praesidium</a></li>
    <li><a routerLink="/events" routerLinkActive="active">Event</a></li>
    <li><a routerLink="/partners" routerLinkActive="active">Partners</a></li>
    <li><a routerLink="/vacatures" routerLinkActive="active">Vacature</a></li>
    <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</div>