<div class="card">
    <div class="card-content">
        <span class="card-title">Add Item</span>
        <form (ngSubmit)="addClubtekst()" *ngIf="route == 'ClubText'" class="col s6">
            <div class="input-field col s6">
                <textarea class="text-field" type="text" placeholder="Add Text"
                    [(ngModel)]="variables.clubtekst.text" name="text"></textarea>
                <label>ClubText</label>
            </div>
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
</div>