<form>
    <div class="row">
      <div class="column"> 
        <label>Naam:</label><br>
        <label>Voornaam:</label><br>
        <label>Geboortedatum:</label><br>
        <label>Studie:</label><br>
        <label>Functie:</label><br>
      </div>
      <div class="column">
        <input type="text" name="naam" #naam><br>
        <input type="text" name="voornaam" #voornaam><br>
        <input type="text" name="geboortedatum" #geboortedatum><br>
        <input type="text" name="studie" #studie><br>
        <input type="text" name="functie" #functie><br>
      </div>
    </div>
    <button (click)="VoegNieuwPraesidiumlidToe(naam.value,voornaam.value,geboortedatum.value,studie.value,functie.value)">Voeg toe!</button>
  </form>
