<input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'Create'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Create</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'Read'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Read</span>
    </div>
<br>

  <div [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>


    </pre>
    <pre *ngSwitchCase="'Create'" id="PRAESIDIUMINFO"> 
        <form [formGroup]="this.DataserviceService.PraesidiumForm" id="PRAESIDIUMINFO">
           <input placeholder="surName" 
           formControlName="surName" 
           type="text" 
           class="input-field col s12">

           <input placeholder="name" 
           formControlName="name" 
           type="text" 
           class="input-field col s12">

           <input placeholder="birthday" 
           formControlName="birthday" 
           type="date" 
           class="input-field col s12">

           <mat-form-field appearance="fill">
            <mat-label>Function</mat-label>
            <select matNativeControl required formControlName="function">
              <option value="Praeses">Praeses</option>
              <option value="Vice-Praeses">Vice-Praeses</option>
              <option value="Quaestor">Quaestor</option>
              <option value="Cantor">Cantor</option>
              <option value="Ab-Actis">Ab-Actis</option>
              <option value="Zedenmeester">Zedenmeester</option>
              <option value="Schachtenmeester">Schachtenmeester</option>
              <option value="Schahctentemmer">Schahctentemmer</option>
              <option value="Cantor">Webmaster</option>
              <option value="S.O.C.">S.O.C.</option>
              <option value="Feest">Feest</option>
              <option value="P.R.">P.R.</option>
              <option value="Redactor">Redactor</option>
              <option value="Media">Media</option>
              <option value="Peter">Peter</option>
              <option value="Meter">Meter</option>
              <option value="Ere-Praeses">Ere-Praeses</option>
              <option value="Ere-Lid">Ere-Lid</option>
            </select>
          </mat-form-field>
          

           <input placeholder="studies" 
           formControlName="studies" 
           type="text" 
           class="input-field col s12">

           <input type="file"
            id="file"
            #userPhoto
            (change)="onFileSelected($event)"
            name="image"
            autocomplete="off"/>

                <button (click)="CREATE()">SUBMIT</button>
        </form>
    </pre>
    <pre *ngSwitchCase="'Read'" >
        <span *ngFor="let P of PRAESIDIUM">
        <div class="TEXT">
        <h3>{{ P.payload.doc.id }}</h3>
        <br>
        voornaam : {{ P.payload.doc.data().surName }}
        <br>
        achternaam : {{ P.payload.doc.data().name }}
        <br>
        functie : {{ P.payload.doc.data().function }}
        <br>
        geboortedatum : {{ P.payload.doc.data().birthday }}
        <br>
        studeert : {{ P.payload.doc.data().studies }}
        <br>
        <!--{{getUrl(P.payload.doc.data().imageLink)}}-->
        <!--<img src="{{this.urls[1]}}">-->
        imagelink : {{ P.payload.doc.data().imageLink  }}
        </div>
        <br>
        <button (click)="DELETE(P.payload.doc.id)">DELETE</button>
       
      </span>
    </pre>

</div>