<input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'Create'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Create</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'Read'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Read</span>
    </div>
<br>
  

  <div [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>


    </pre>
    <pre *ngSwitchCase="'Create'">
        <form [formGroup]="this.DataserviceService.ClubTekstForm" >
            <textarea placeholder="CLUBTEKST" 
                   formControlName="text" 
                   type="text" 
                   id="clubtext"
                   contenteditable="true"></textarea>
            <button (click)="CREATE()">SUBMIT</button>
        </form>
    </pre>
    <pre *ngSwitchCase="'Read'">
        <span 
        *ngFor="let T of TEKST" class="TEXT">
        <div class="TEXT">
            <h3>{{ T.payload.doc.id }}</h3>
            <br>

            {{ T.payload.doc.data().text }}
        </div>
        <br>
        <button (click)="DELETE(T.payload.doc.id)">DELETE</button>
       
      </span>
    </pre>

</div>